:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$dark-background: #100e1d;
$lighter-background: #1e213a;
$hightlight1: #3c47e9;
$hightlight2: #88869d;
body {
  width: 100vw;
}
.App {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.current-weather {
  background-color: $lighter-background;
  height: 100vh;
  grid-column: span 2;
  position: relative;

  .search-container.active {
    left: 0;
  }
  .search-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 100;
    background-color: $lighter-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all 0.5s ease;

    .x-btn {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: transparent;
      border: 0.5px solid white;
      color: white;
      font-size: 1rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      transition: all 0.3s;

      &:hover {
        background-color: white;
        color: $hightlight1;
        transform: scale(1.05);
      }
    }
    .search-form-container {
      width: 70%;

      form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
        align-items: center;

        input {
          background: none;
          color: white;
          border: 1px solid white;
          padding: 1rem;
          flex-grow: 1;
        }
        button {
          background-color: $hightlight1;
          padding: 1rem;
          border: none;
          color: white;
        }
      }
    }
    .results-container {
      height: 70%;
      width: 70%;
      overflow: auto;
      transition: all 0.4s;

      div {
        border: 1px solid white;
        padding: 1rem;
        margin: 0.5rem 0;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: all 0.4s;

        .arrow {
          display: none;
        }

        &:hover {
          width: 100%;
          .arrow {
            display: block;
          }
        }
      }
    }
  }
  .weather-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btns-container {
      display: flex;
      justify-content: space-around;
      gap: 50%;
      align-items: center;
      height: 10%;
      width: 100%;

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid white;
        transition: all 0.3s;
        background: transparent;

        &:hover {
          background-color: $hightlight1;
          transform: scale(1.1);
        }
      }
    }
    .image-container {
      height: 45%;
      background-size: contain;
      position: relative;
      img {
        position: absolute;
        width: 150px;
        top: 50%;
        left: 50%;
        transform: translate(-57%, -50%);
        // border: 2px solid red;
      }
    }
    .weather-info {
      height: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .temperature {
        padding: 2rem;
        display: flex;
        font-size: 6rem;
        p {
          font-size: 0.5em;
          color: $hightlight2;
        }
      }
      .condition {
        font-size: 2rem;
      }
      .day-location {
        color: $hightlight2;
        margin-bottom: 2rem;

        div {
          vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1rem;
        }
      }
    }
  }
}
@media (min-width: 840px) {
  .current-weather {
    grid-column: span 1;
  }
}
.weather-highlights {
  grid-column: span 2;
  min-height: 100vh;
  background-color: $dark-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .forecast {
    width: 75%;
    display: grid;
    gap: 1rem;
    border: 2px solid red;
    grid-template-columns: repeat(auto-fit, 100px);
    align-items: center;
    justify-content: center;

    .weather-card {
      background-color: $lighter-background;
      aspect-ratio: 1;
    }
  }

  .highlights {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .highlights-container {
      border: 2px solid red;
      width: 100%;
      gap: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, 150px);
      align-items: center;
      justify-content: center;

      .highlight-card {
        background-color: $lighter-background;
        aspect-ratio: 1;
      }
    }
  }
}
